
:root {
    --bg: #ffffff;
    --text: #222;
    --card: #f4efef;
    --accent: #4caf50;
    --muted:#555;
    --link: #0066cc;
    --shadow: rgba(0,0,0,0.1);
}

*{
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin: 0;
    padding:0;
    box-sizing:border-box;
}



body{
    margin:0;
    padding:30px;
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
}


.container{
    max-width: 850px;
    margin: 40px auto;
    padding: 20px 25px;
    background: var(--card);
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--shadow);
}


header{
    text-align: center;
    margin-bottom: 40px;
}

h1{
    font-size: 38px;
    margin: 5px;
}

.role{
    font-size: 20px;
    color: var(--accent);
    margin-bottom: 15px;
    font-weight: bold;
}

address{
    margin-bottom: 25px;
    font-style: normal;
    color: var(--muted);
}

address a{
    color: var(--link);
    text-decoration: none;
}

.navigation{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.navigation a{
    color: var(--link);
    font-weight: bold;
    text-decoration: none;
}


section{
    margin-bottom: 35px;
}

h2{
    font-size: 26px;
    border-left: 5px solid var(--accent);
    padding-left: 10px;
    margin-bottom: 15px;
    width:240px;
}
h2:hover{
    font-size:30px;
    transition:0.5s;
    width:240px;
}

h3{
    margin-bottom: 5px;
    color: var(--text);
}

ul{
    padding-left: 20px;
}

.links{
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.links li{
    list-style: none;
}

.links a{
    color: var(--link);
    text-decoration: none;
}


footer{
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.8;
}
